h1{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:3em;
font-weight:bold;
font-style:normal;
letter-spacing:3px;
word-spacing:3px;
text-shadow:3px 3px 5px #333;
text-decoration:none;
text-transform:lowercase;

}

p{
	line-height:1.5em;
	text-indent:50px;
	text-align:justify;
	
	}
/*Helpers*/
.marginfix{
	padding-top: 1px;
	margin-top: -1px;
}

.clearfix:before, 
.clearfix:after,
.row:after,
.row:before {
	content: "\0020"; display: block; height: 0; visibility: hidden;	
} 
.clearfix:after,
.row:after { clear: both; }
.clearfix,
.row { zoom: 1; }

.row{
	margin-right: -15px;
	margin-left: -15px;
}

.container{
	width: 960px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}

/*grid*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-1{ width: 8.33333%;   }
.col-2{ width: 16.66666%;  }
.col-3{ width: 25%;        }
.col-4{ width: 33.33333%;  }
.col-5{ width: 41.66666%;  }
.col-6{ width: 50%;        }
.col-7{ width: 58.33333%;  }
.col-8{ width: 66.66666%;  }
.col-9{ width: 75%;        }
.col-10{ width: 83.33333%; }
.col-11{ width: 91.66666%; }
.col-12{ width: 100%;      }

/*
	layout
*/
html{
	min-height: 100%;
}

body{
	min-height: 100%;
	background-color: #fff;
}

.big-title 
{
	font-size: 75px;
	margin: 15px 0;
	color: #fff;	
}

.body-text
{
	color: #fff;
	font-weight: bold;
}

.small-body-text
{
	color:  #fff;	
}
.medium-title
{
	font-size: 40px;
	margin: 15px 0;
	color: #fff;
}
.image-full-width
{
	width: 100%;
}

.input
{
	width: 100%;
	border: 1px solid #;
}

.contact-inputs
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.submit-button
{
	background-color: #ccc;
	border: none;
	color: #fff;
	font-weight: bold;
	margin: 15px 0;
	padding: 5px 10px;
}
.text-center
{
	text-align: center;
}

.image-border
{
	border: 1px solid #fff;
}




/*
	header
 */
.main-header
{
	background-color: #000;
}
.main-header .main-nav
{
	float: right;
	list-style: none;
}

.main-header .main-nav li 
{
	float: left;
	margin-left: 15px;

}
.main-header .main-nav li a 
{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

.logo-container 
{
float: left;
}





/*
	Footer
 */
.main-footer 
{
	margin-top: 60px;
	text-align: center;
	background-color: #000;
}

.main-footer .copyright
{
	display: inline-block;
	margin-bottom: 15px;
	color: #fff;
	margin-top: 15px;
}

.main-footer .main-nav-container
{
	padding: 1px 0;
	background-color: #000;
}

.main-footer .main-nav
{
	display: table;
	margin: 15px auto;
	list-style: none;
}

.main-footer .main-nav li 
{
	float: left;
	margin-left: 15px;

}
.main-footer .main-nav li a 
{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}


/*
	Home page
 */
.main-image-container
{
	margin-top: 50px;
}

/* float the image & text to opposite sides */ 
.img { float: left; } 
.text { float: right; width: 800px; }

/* clearfix */ .cf:before,.cf:after{content:" ";display:table;}.cf:after{clear:both;}
/* styles for demo purposes ONLY */ 
.container { 
	margin: 50px; 
	width: 1000px; 
	background: #333; 
}



/*
	Remove at the end
*/
*{
	/*outline: 1px dotted #ddd;*/
}